
h1 {
    font-family: 'Ysabeau Infant', sans-serif;
    color: black;
    font-size: 28px;
    text-align: center;
    padding: 20px;
}

h2 {
    font-family: 'Ysabeau Infant', sans-serif;
    color: black;
    font-size: 22px;
    text-align: center;
    padding: 20px;
}

ul, li {
    font-family: Arial, Helvetica, sans-serif;
}

body, h1, ul, table {
    margin: 0;
    padding: 0;
}

body, p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    color: #333;
    background-color: #f5f5f5 ;
}

ul {
    background-color:beige ;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
}
th {
    background-color: #ffadad;
    color: #fff;
}

td {
    background-color: #ffd6a5;
}

tr:nth-child(even) {
    background-color: #ffe6b8;
}

tr:hover {
    background-color: #ffb7b7;
}

.img-container {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
}

.img-container img {
    display: block;
    margin: 0 auto;
    height: auto;
}

.button {
    display: block;
    text-align: center;
    margin-top: 20px;
    font-size: 35px;
}

.gallery {
    margin: 20px auto;
    max-width: 800px;
}

.gallery-images {
    display: flex;
    justify-content: space-between;
}

.gallery-images img {
    width: 150px;
    margin: 10px;
}